* {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

/* COMMON */
body {
  position: relative;

  overflow-x: hidden;
  overflow-y: scroll;

  font-family: "SF-Pro-Display", sans-serif;

  background-color: #f6f6f6;
}

.inner {
  width: 95%;
  max-width: 1180px;
  margin: auto;
  padding: 100px 0;
}

.wrapper {
  position: relative;
  z-index: 1;
}

section:last-child {
  padding-bottom: 100px;
}

.fadeIn,
.window {
  transition: opacity ease 0.8s;
}

.section_desc {
  width: 100%;
  max-width: 850px;
  margin: auto;

  font-size: 1.75em;
  line-height: 1.45em;
  text-align: center;
}

.section_content {
  font-size: 1.5em;
}

.blk_bgr {
  color: #fff;

  background-color: #000;
}

.wht_bgr {
  background-color: #f6f6f6;
}

@media only screen and (min-width: 1px) and (max-width: 900px) {
  .inner {
    padding: 50px 0;
  }
}
